# apimatic_api
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module ApimaticApi
  # CodeGenerationExternalApisController
  class CodeGenerationExternalApisController < BaseController
    # Generate an SDK for an API by by uploading the API specification file.
    # This endpoint generates and then uploads the generated SDK to APIMatic's
    # cloud storage. An ID for the generation performed is returned as part of
    # the response.
    # This endpoint does not import an API into APIMatic.
    # @param [File | UploadIO] file Required parameter: The API specification
    # file.<br>The type of the specification file should be any of the
    # [supported
    # formats](https://docs.apimatic.io/api-transformer/overview-transformer#sup
    # ported-input-formats).
    # @param [Platforms] template Required parameter: The structure contains
    # platforms that APIMatic CodeGen can generate SDKs and Docs in.
    # @return [UserCodeGeneration] response from the API call
    def generate_sdk_via_file(file,
                              template)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/code-generations/generate-via-file',
                                     Server::DEFAULT)
                   .multipart_param(new_parameter(file, key: 'file')
                                     .default_content_type('application/octet-stream'))
                   .form_param(new_parameter(template, key: 'template'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(UserCodeGeneration.method(:from_hash)))
        .execute
    end

    # Generate an SDK for an API by providing the URL of the API specification
    # file.
    # This endpoint generates and then uploads the generated SDK to APIMatic's
    # cloud storage. An ID for the generation performed is returned as part of
    # the response.
    # This endpoint does not import an API into APIMatic.
    # @param [GenerateSdkViaUrlRequest] body Required parameter: Request Body
    # @return [UserCodeGeneration] response from the API call
    def generate_sdk_via_url(body)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/code-generations/generate-via-url',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/vnd.apimatic.userCodeGenerationDto.v1+json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('Authorization')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(UserCodeGeneration.method(:from_hash)))
        .execute
    end

    # Download the SDK generated via the Generate SDK endpoints.
    # @param [String] codegen_id Required parameter: The ID of code generation
    # received in the response of the [Generate SDK Via
    # File](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c30
    # 52d961b/v/3_0#/http/api-endpoints/code-generation-external-apis/generate-s
    # dk-via-file) or [Generate SDK Via URL
    # ](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c3052d9
    # 61b/v/3_0#/http/api-endpoints/code-generation-external-apis/generate-sdk-v
    # ia-url) calls.
    # @return [Binary] response from the API call
    def download_generated_sdk(codegen_id)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/code-generations/{codegen_id}/generated-sdk',
                                     Server::DEFAULT)
                   .template_param(new_parameter(codegen_id, key: 'codegen_id')
                                    .should_encode(true))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler)
        .execute
    end

    # Get a list of all SDK generations performed with external APIs via the
    # Generate SDK endpoints.
    # @return [Array[UserCodeGeneration]] response from the API call
    def list_all_code_generations_external
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/code-generations',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(UserCodeGeneration.method(:from_hash))
                   .is_response_array(true))
        .execute
    end

    # Download the API Specification file used as input for a specific SDK
    # generation performed via the Generate SDK endpoints.
    # @param [String] codegen_id Required parameter: The ID of the code
    # generation to download the API specification for. The code generation ID
    # is received in the response of the [Generate SDK Via
    # File](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c30
    # 52d961b/v/3_0#/http/api-endpoints/code-generation-external-apis/generate-s
    # dk-via-file) or [Generate SDK Via URL
    # ](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c3052d9
    # 61b/v/3_0#/http/api-endpoints/code-generation-external-apis/generate-sdk-v
    # ia-url) calls
    # @return [Binary] response from the API call
    def download_input_file_codegen(codegen_id)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/code-generations/{codegen_id}/input-file',
                                     Server::DEFAULT)
                   .template_param(new_parameter(codegen_id, key: 'codegen_id')
                                    .should_encode(true))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler)
        .execute
    end

    # Get details on an SDK generation performed for an external API via the
    # Generate SDK endpoints.
    # @param [String] codegen_id Required parameter: The ID of the code
    # generation to fetch. The code generation ID is received in the response of
    # the [Generate SDK Via
    # File](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c30
    # 52d961b/v/3_0#/http/api-endpoints/code-generation-external-apis/generate-s
    # dk-via-file) or [Generate SDK Via URL
    # ](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c3052d9
    # 61b/v/3_0#/http/api-endpoints/code-generation-external-apis/generate-sdk-v
    # ia-url) calls.
    # @return [UserCodeGeneration] response from the API call
    def get_a_code_generation_codegen(codegen_id)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/code-generations/{codegen_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(codegen_id, key: 'codegen_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(UserCodeGeneration.method(:from_hash)))
        .execute
    end

    # Delete an SDK generation performed for an API via the Generate SDK
    # endpoints.
    # @param [String] codegen_id Required parameter: The ID of the code
    # generation to delete. The code generation ID is received in the response
    # of the [Generate SDK Via
    # File](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c30
    # 52d961b/v/3_0#/http/api-endpoints/code-generation-external-apis/generate-s
    # dk-via-file) or [Generate SDK Via URL
    # ](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c3052d9
    # 61b/v/3_0#/http/api-endpoints/code-generation-external-apis/generate-sdk-v
    # ia-url) calls.
    # @return [void] response from the API call
    def delete_code_generation1(codegen_id)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/code-generations/{codegen_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(codegen_id, key: 'codegen_id')
                                    .should_encode(true))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler
                   .is_response_void(true))
        .execute
    end
  end
end
