# apimatic_api
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module ApimaticApi
  # CodeGenerationImportedApisController
  class CodeGenerationImportedApisController < BaseController
    # Generate an SDK for an API Version.
    # This endpoint generates and then uploads the generated SDK to APIMatic's
    # cloud storage. An ID for the generation performed is returned as part of
    # the response.
    # @param [String] api_entity_id Required parameter: The ID of the API Entity
    # to generate the SDK for.
    # @param [Platforms] template Required parameter: The structure contains
    # platforms that APIMatic CodeGen can generate SDKs and Docs in.
    # @return [APIEntityCodeGeneration] response from the API call
    def generate_sdk(api_entity_id,
                     template)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/api-entities/{api_entity_id}/code-generations/generate',
                                     Server::DEFAULT)
                   .template_param(new_parameter(api_entity_id, key: 'api_entity_id')
                                    .should_encode(true))
                   .form_param(new_parameter(template, key: 'template'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(APIEntityCodeGeneration.method(:from_hash)))
        .execute
    end

    # Download the SDK generated via the Generate SDK endpoint.
    # @param [String] api_entity_id Required parameter: The ID of the API Entity
    # for which the SDK was generated.
    # @param [String] codegen_id Required parameter: The ID of code generation
    # received in the response of the [SDK generation
    # call](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c30
    # 52d961b/v/3_0#/http/api-endpoints/code-generation-imported-apis/generate-s
    # dk).
    # @return [Binary] response from the API call
    def download_sdk(api_entity_id,
                     codegen_id)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api-entities/{api_entity_id}/code-generations/{codegen_id}/generated-sdk',
                                     Server::DEFAULT)
                   .template_param(new_parameter(api_entity_id, key: 'api_entity_id')
                                    .should_encode(true))
                   .template_param(new_parameter(codegen_id, key: 'codegen_id')
                                    .should_encode(true))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler)
        .execute
    end

    # Get a list of all SDK generations done against an API Version via the
    # Generate SDK endpoint.
    # @param [String] api_entity_id Required parameter: The ID of the API Entity
    # for which to list code generations.
    # @return [Array[APIEntityCodeGeneration]] response from the API call
    def list_all_code_generations_imported(api_entity_id)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api-entities/{api_entity_id}/code-generations',
                                     Server::DEFAULT)
                   .template_param(new_parameter(api_entity_id, key: 'api_entity_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(APIEntityCodeGeneration.method(:from_hash))
                   .is_response_array(true))
        .execute
    end

    # Get details on an SDK generation performed via the Generate SDK endpoint.
    # @param [String] api_entity_id Required parameter: The ID of the API Entity
    # to fetch the code generation for.
    # @param [String] codegen_id Required parameter: The ID of the code
    # generation to fetch. The code generation ID is received in the response of
    # the [SDK generation
    # call](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c30
    # 52d961b/v/3_0#/http/api-endpoints/code-generation-imported-apis/generate-s
    # dk).
    # @return [APIEntityCodeGeneration] response from the API call
    def get_a_code_generation_imported(api_entity_id,
                                       codegen_id)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api-entities/{api_entity_id}/code-generations/{codegen_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(api_entity_id, key: 'api_entity_id')
                                    .should_encode(true))
                   .template_param(new_parameter(codegen_id, key: 'codegen_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(APIEntityCodeGeneration.method(:from_hash)))
        .execute
    end

    # Delete an SDK generation performed for an API Version via the Generate SDK
    # endpoint.
    # @param [String] api_entity_id Required parameter: The ID of the API Entity
    # to delete the code generation for.
    # @param [String] codegen_id Required parameter: The ID of the code
    # generation to delete. The code generation ID is received in the response
    # of the [SDK generation
    # call](https://www.apimatic.io/api-docs-preview/dashboard/60eea3b7a73395c30
    # 52d961b/v/3_0#/http/api-endpoints/code-generation-imported-apis/generate-s
    # dk).
    # @return [void] response from the API call
    def delete_code_generation(api_entity_id,
                               codegen_id)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/api-entities/{api_entity_id}/code-generations/{codegen_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(api_entity_id, key: 'api_entity_id')
                                    .should_encode(true))
                   .template_param(new_parameter(codegen_id, key: 'codegen_id')
                                    .should_encode(true))
                   .auth(Single.new('Authorization')))
        .response(new_response_handler
                   .is_response_void(true))
        .execute
    end
  end
end
